<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICOM Seguros - Seu plano de saúde empresarial esta aqui</title>
    <meta name="description" content="Somos especialistas em plano de saúde para pequenas e médias empresas. Vamos encontrar o plano de saúde ideal para a sua empresa.">
    <link rel="icon" type="image/x-icon" href="img/ICOM LOGO.png">


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>

    <link rel="stylesheet" href="css/style.css" type="text/css">

</head>

<body>
        <div style="background-image: url('img/touro.jpg'); height:650px;">
            <div class="container text-white text-center pt-5">
                
                    <h1 class="display-1">404</h1>
                    
                    <h2>OPS! Parece que você encontrou o touro errado<br>
                A página que você procura, não existe ou não foi encontrada.<br>
                    <a href="index" class="btn btn-lg btn-primary mt-3">Volte para o inicio</a>
                </h2>
            </div>
                
            </div>
        </div>

    </body>


<!--bootstrap-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'></script>

</html>